@charset "ISO-8859-1";
th{
	width:142px;
	border-style: solid;
	background-color:red;
}
td{
	width:142px;
	border-style: solid;
	background-color:red;
	text-align: center;
}
table{
	
	border-style: solid;
	float: inherit;
}