<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="Cabecera.css"/>
<link rel="stylesheet" type="text/css" href="ServiciosPendientes.css"/>
<link rel="stylesheet" type="text/css" href="calendar.css"/>
<title>HomeProfesional</title>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script th:inline="javascript" src=serviciosPendientes.js></script>
<script src=agenda.js></script>-->
</head>
<body>
<div id=logo>
<img src="../images/logo.jpg"></img>
</div>
<div id=imageTop>
<img alt="" src=""></img>
</div>
<div id=menu>
<a th:href="@{/hp}"> Home </a>
<a> Mis servicios </a>
<a id=pendientes   th:href="@{/mostrarPendientes}"><!---->  Solicitudes pendientes </a>
<a id=agenda th:href="@{/mostrarCalendario}"> Agenda </a>
<a> Perfil </a>
</div>
<div id=contenido></div>




<div class="container">


    

    

    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Localización</th>
                        <th>Servicio</th>
                    </tr>
                </thead>
                <tbody th:each="servicio : ${servicios}">
                   
                    <tr>
                        <td class="agenda-date"  rowspan="1">
                            <div class="dayofmonth" th:text="${servicio.getDia(servicio.fecha)}"></div>
                            <div class="dayofweek" th:text="${servicio.getMonth(servicio.fecha)}"></div>
                            <div class="shortdate text-muted" th:text="${servicio.getYear(servicio.fecha)}"></div>
                        </td>
                        <td class="agenda-time" th:text=" ${servicio.hora}">
                            5:30 AM
                        </td>
                        <td class="agenda-place" th:text=" ${servicio.lugar}">
                            
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event" th:text=" ${servicio.nombre}"></i> 
                               
                            </div>
                        </td>
                    </tr>
                    
                    
                   
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>