<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" type="text/css" href="ServiciosPendientes.css"/>
<title>serviciosPendientes</title>
</head>
<body>
<div >
<table>
  <tr id=cabeceraTabla>
    <th>Nombre</th>
    <th>Descripción</th> 
    <th>Categoria</th>
    <th>Precio</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Aceptar</th>
    <th>Denegar</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td><button>Aceptar</button> </td>
    <td><input type="text"></input><button>Denegar</button> </td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td><button>Aceptar</button> </td>
    <td><input type="text"></input><button>Denegar</button> </td>
  </tr>
</table>
</div>
</body>
</html>